.Toastify__toast {
  --at-apply: shadow-md;

background-color: var(--unq-elements-bg-depth-2);
color: var(--unq-elements-textPrimary);
border: 1px solid var(--unq-elements-borderColor);
}

.Toastify__close-button {
color: var(--unq-elements-item-contentDefault);
  opacity: 1;
  transition: none;

  &:hover {
color: var(--unq-elements-item-contentActive);
  }
}
